[project]
	description = Unit testing of a sample attendance system using Mockito in Java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aparna (Apps16)
[access "refs/for/refs/*"]
	read = group user/Aparna (Apps16)
	push = group user/Aparna (Apps16)
	label-Code-Review = -2..+2 group user/Aparna (Apps16)
	label-Verified = -1..+1 group user/Aparna (Apps16)
	rebase = group user/Aparna (Apps16)
	removeReviewer = group user/Aparna (Apps16)
	submit = group user/Aparna (Apps16)
[access "refs/heads/*"]
	read = group user/Aparna (Apps16)
	create = group user/Aparna (Apps16)
	push = +force group user/Aparna (Apps16)
	pushMerge = group user/Aparna (Apps16)
[access "refs/tags/*"]
	push = group user/Aparna (Apps16)
	push = +force group user/Aparna (Apps16)
